@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    z-index: 1;
  }